body{

  font-family: arial;
 background-size: cover;
}



a{
  color:maroon;
}


 li{
  list-style-type: none;
  display: inline-block;
  background:#D1FEFC;
  color: white;
  padding: 15px 45px;
  font-weight: bold;

}
header{
  background-image: url("pics/bridge.jpg");
  background-size: cover;


}
h1{
font-family: "Brush Script MT", cursive;
	font-style: normal;
	font-variant: normal;


}
h2{
    background:#D1FEFC;
}
.boxed {
  border: 1px solid green ;
  background: white;
}
